.ft-title {
    padding: 200px 0 30px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF
}

.ft-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
}

form {
    padding: 60px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp {
    padding: 15px 140px 14px 30px;
    background: #FFFFFF;
    opacity: 0.25;
    border-radius: 50px 0px 0px 50px;
    color: #FFFFFF;
}

.ft-link {
    transform: translateX(-30px);
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    padding: 10px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    transition: 500ms;
}

.ft-link:hover {
    background: #C89AFC;
}

.ft-imgs {
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:610px) {
    .ft-title {
        font-size: 40px;
    }
}

@media(max-width:550px) {
    .ft-title {
        font-size: 35px;
    }
    .ft-text{
        font-size: 12px;
    }
    .inp{
        padding: 13px 80px 12px 30px;
    }
    .ft-link{
        font-size: 14px;
        padding: 10px 20px;
    }
   
}

@media(max-width:450px){
    .inp{
        padding: 13px 60px 12px 30px;
    }
    .ft-title {
        font-size: 30px;
    }
    .ft-im{
        width: 10%;
    }
}
@media(max-width:400px){
    .inp{
        padding: 10px 40px 9px 20px;
    }
    .ft-title {
        font-size: 20px;
    }
    .ft-link{
        font-size: 12px;
        padding: 10px 10px;
    }
}